/* for screens 700px and less */
@media (max-width: 800px){
  /* about section responsive styling */
  .about-section{
    margin-top: 60px;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
  }

  .about-text{
    width: 90%;
    font-size: 1rem;
    line-height: 2;
  }

  .about-text h1{
    text-align: center;
    margin-bottom: 1rem;
  }

  .about-section img{
    width: 45%;
    margin-bottom: 1rem;
  }

  /* skills section */
  .skill-section{
    flex-direction: column;
  }
  .progress-area{
    width: 100%;
    padding: 20px;
    margin-left: 0;
    margin: 0 auto 0 auto;
  }

  .experience-area{
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-left: 0;
  }

  .experience-area p{
    line-height: 2;
    font-size: 1rem;
  }

  .skill-list{
    margin-bottom: 15px;
  }

  .skill-list h3{
    font-size: 1rem;
  }

  .progress-box{
    width: 80%;
    height: .7rem;
    margin: 0 auto 0 auto;
  }

  /* contact section responsive styling */
  .social-media ul li{
    margin-left: .7rem;
  }
  .social{
    width: 60px;
    height: 60px;
    font-size: 2.3rem;
  }

  .work-contact{
    font-size: .7rem;
  }

  /* contact-section form styling */
  .input-wrapper{
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }

  .input-field{
    width: 90%;
    margin: 0 auto .7rem auto;
  }

  #text-area{
    margin: 1px auto;
    height: 80px;
  }

  /* navigation minor font size adjustment
  */
  .nav li a{
    font-size: 1rem;
   }

}